#contact_modal {
    display: none;
}
/** HEADER **/
.photograph-header {
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 80%;
    height: 300px;
    margin: 0 100px;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.identity {
    height: 200px;
}

.nameEL {
    color: #D3573C;
    font-weight: 400;
    font-size: 64px;
    white-space: nowrap;
    margin: 0;
}

.localisation {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin: 10px 10px 10px 0;
}

.tagline-header {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    margin: 10px 10px 10px 0;
}

.img-photographer {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.img-el {
    width: auto;
    height: 360px;
    position: relative;
    top: -75px;
    left: -80px;
}



.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

/** CONTENT **/


/** MODAL **/

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


/* Photograph page */
.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.identity {
    display: flex;
    flex-direction: column;
}

.section-element {
    width: 100%;
    margin: 0 100px;
    margin-top: 30px;
}

.filter {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-element p {
    width: 80px;
    height: 23px;
    font-size: 18px;
    font-weight: 700;
}

/* MENU */
.filter ul {
    width: 170px;
    height: 170px;
    padding: 0;
    list-style-type: none;
    /* list-style-position: outside; */
    background-color: #901C1C;
    border-radius: 5px;
}

.filter ul li {
    width: 74px;
    height: 23px;
    padding: 15px;
    padding-top: 18px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.menu-parent {
    position: relative;
}

.parent-line2 {
    position: relative;
}

.open,
.close {
    position: absolute;
    top: 14px;
    left: 125px;
}

.open {
    display: none;
}

/* Ligne menu */

.line1 {
    width: 150px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 60px;
    right: -56px;
}

.line2 {
    width: 150px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 60px;
    right: -56px;
}

.section-element {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-elements {
    width: 350px;
    height: 351px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-elements img,
.card-elements video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card-elements div {
    width: 350px;
    height: 50px;
    padding: 5px;
    display: flex;
}

.card-elements h2 {
    width: 292px;
    height: 31px;
    margin: 5px;
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    overflow: hidden;
}

.card-elements div div {
    width: 51px;
    height: 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.like-all-element img {
    width: 24px;
    height: 24px;
}
