#contact_modal {
    display: none;
}
/** HEADER **/
.photograph-header {
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 80%;
    height: 300px;
    margin: 0 100px;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.identity {
    height: 200px;
}

.nameEL {
    color: #D3573C;
    font-weight: 400;
    font-size: 64px;
    white-space: nowrap;
    margin: 0;
}

.localisation {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin: 10px 10px 10px 0;
}

.tagline-header {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    margin: 10px 10px 10px 0;
}

.img-photographer {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.img-el {
    width: auto;
    height: 360px;
    position: relative;
    top: -75px;
    left: -80px;
}



.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

/** CONTENT **/


/** MODAL **/

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


/* Photograph page */
.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.identity {
    display: flex;
    flex-direction: column;
}

.section-element {
    width: 100%;
    margin: 0 90px;
    margin-top: 30px;
}

.filter {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-element p {
    width: 80px;
    height: 23px;
    font-size: 18px;
    font-weight: 700;
}

/* MENU */
.dropdown-content {
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #901C1C;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.filter button {
    width: 170px;
    height: 69px;
    padding-top: 10px;
    background-color: #901C1C;
    border: 0;
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 15px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter button p { 
    width: 60%;
}

.separate-line {
    width: 140px;
    height: 1px;
    background-color: white;
}


.menu-parent {
    position: relative;
}

.parent-line2 {
    position: relative;
}

/* Ligne menu */

.line1 {
    width: 150px;
    height: 1px;
    background-color: green;
    position: absolute;
    top: 48px;
    right: 7px;
}

.line2 {
    width: 150px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 48px;
    right: 7px;
}

/* DROPDOWN */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-item {
    padding: 12px 16px;
    cursor: pointer;
}

.open, .close {
    width: 32px;
    height: auto;
    cursor: pointer;
}

.open,
.close {
    position: absolute;
    top: 14px;
    left: 125px;
}

.open {
    display: block;
}

.close {
    display: none;
}

.section-element {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.card-elements {
    width: 350px;
    height: 351px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-elements img,
.card-elements video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card-elements div {
    width: 350px;
    height: 50px;
    padding: 5px;
    display: flex;
}

.card-elements h2 {
    width: 292px;
    height: 31px;
    margin: 5px;
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    overflow: hidden;
}

.card-elements div div {
    width: 51px;
    height: 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.like-all-element img {
    width: 24px;
    height: 24px;
}


/* LIGHTBOX */

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.lightbox-content {
    position: relative;
    margin: auto;
    padding: 10px;
    width: 80%;
    max-width: 700px;
    max-height: 900px;
    display: flex;
}

.media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 100%; */
    /* max-height: 80vh; */
    border-radius: 5px;
    padding-bottom: 20px;
}

.lightbox-img, .lightbox-video {
    width: 100%;
    height: 100%;
}

.lightbox-img {
    border-radius: 5px;
}

.lightbox-title {
    width: 292px;
    height: 31px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}

.closeLightbox {
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
}

.lightbox-nav {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
}

.lightbox-nav.left {
    left: 0;
}

.lightbox-nav.right {
    right: 0;
}
